/* @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Noto+Kufi+Arabic:wght@100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BubbleFont';
  src: url('../../Fonts/Bubble-w10MZ.otf') format('opentype');
  font-display: swap;

}

@font-face {
  font-family: 'AzonixFont';
  src: url('../../Fonts/Azonix-1VB0.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'RedGlass';
  src: url('../../Fonts/RedGlass-BWx23.ttf') format('opentype');
  font-display: swap;

}

@font-face {
  font-family: 'AwakeFont';
  src: url('../../Fonts/AwakenningPersonalUse-DOLPD.ttf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'PoppinsM';
  src: url('../../Fonts/PoppinsMedium-1JPv.otf') format('opentype');
  font-display: swap;

}

@font-face {
  font-family: 'PoppinsE';
  src: url('../../Fonts/PoppinsExtralight-6Je1.otf') format('opentype');
  font-display: swap;

}

@font-face {
  font-family: 'PlatNomor';
  src: url('../../Fonts/PlatNomor-WyVnn.ttf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'arab';
  src: url('../../Fonts/Noto.ttf') format('opentype');
  font-display: swap;
}








html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scrollbar-color: #e0b472 rgb(27, 26, 26);
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body ::selection {
  background-color: rgb(140, 137, 137);
}

body {

  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}



/* loadingPageStart */
.LoadingPage {
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(2rem);

}

.listIcon select {
  width: 5rem;
  height: 2rem;
  background-color: transparent;
  color: #e0b472;
  position: absolute;
  top: -5rem;
  left: 0;
  font-weight: bold;
  outline: none;
  border: none;
}
.listIcon select option {
  background-color: black;
  font-weight: bold;
}


.loadingImgDev {
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.loadingImgDev .loadingLine {
  width: 130%;
  height: 0.3rem;
  background-image: linear-gradient(90deg, #fff, #000000);
  transform: translate(-50%, -50%);
  bottom: 50%;
  left: 50%;
  position: absolute;
  bottom: 0;
  margin-top: 0.5rem;
  border-radius: 0.8rem;
  animation: lineLeft 3s ease-in-out infinite alternate;
  background-size: 500%;
}

@keyframes lineLeft {
  0% {
    background-position: 0 0;
  }

  0% {
    background-position: 500% 0;
  }
}

/* loadingPageEnd */

/*Services Start*/
.banner {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

/*Services End*/

/*About_Us Start*/

.heading {
  color: transparent;
  -webkit-text-stroke: 2px white;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.aboutImg {
  height: 80vh;
  object-fit: cover;
  width: 100%;
}

.imgContainer::before {
  content: "";
  position: absolute;
  background-color: #000000ac;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/*TeamImg*/

.tabImage {
  width: 60%;
  height: 90vh;
  object-fit: cover;
}
.memberImgEx {
  width: 30%;
  height: 80vh;
  object-fit: cover;
}

/*TeamImg*/

/*About_Us End*/

/*Services*/
.ProjectImage {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
/*Services*/